<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Unichat | Sign Up</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./style/userCreated.css">
    </head>
    <body>
        <form class="resendForm">
            <h1>An Activation Link Has Been Sent To Your Email</h1>
            <h2>#{ email }</h2>
            <button type="submit">Resend Link</button>
        </form>

        script.
            activationCode="#{ activationCode }";
        
        <script src="./script/userCreated.js" async defer></script>
    </body>
</html>